<div class="watchlist">
    <div class="watchlist-top">

    </div>
    <div class="watchlist-content">
        <div class="flext-container">
            <div class="sec-left">
                <div class="sec-left-cont">
                    <div class="sec-left-one">
                        <div class="number">
                            <p>505,687</p>
                        </div>
                        <div class="number">
                            <p>312,564</p>
                        </div>
                    </div>
                    <div class="sec-left-two">
                        <div class="chart-cont">
                            <img src="assets/images/chart-1.png" alt="Chart">
                        </div>
                    </div>
                </div>
                <div class="sec-left-barchart">
                    <div class="chart-sec">
                        <img src="assets/images/chart-2.png" alt="Chart">
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/chart-2.png" alt="Chart">
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/chart-2.png" alt="Chart">
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/chart-2.png" alt="Chart">
                    </div>
                </div>
                <div class="sec-left-piechart">
                    <div class="chart-sec">
                        <img src="assets/images/chart-3.png" alt="Chart">
                        <p>PIE CHART</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/chart-3.png" alt="Chart">
                        <p>PIE CHART</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/chart-3.png" alt="Chart">
                        <p>PIE CHART</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/chart-3.png" alt="Chart">
                        <p>PIE CHART</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/chart-3.png" alt="Chart">
                        <p>PIE CHART</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/chart-3.png" alt="Chart">
                        <p>PIE CHART</p>
                    </div>
                </div>
                <div class="sec-left-profile">
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                </div>
            </div>
            <div class="sec-right">
                <div class="sec-right-cont">
                    <ul>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>