<div class="watchlist">
    <div class="watchlist-top">

    </div>
    <div class="watchlist-content">
        <div class="flext-container">
            <div class="sec-left">
                <div class="sec-left-cont">
                    <div class="sec-left-one">
                        <div class="number">
                            <p>505,687</p>
                        </div>
                        <div class="number">
                            <p>312,564</p>
                        </div>
                    </div>
                    <div class="sec-left-two">
                        <div class="chart-cont">
                            <!-- <img src="assets/images/chart-1.png" alt="Chart"> -->
                            <canvas id="lineChart" height="39"></canvas>
                        </div>
                    </div>
                </div>
                <div class="sec-left-barchart">
                    <div class="chart-sec">
                        <!-- <img src="assets/images/chart-2.png" alt="Chart"> -->
                        <!-- <p><ngb-progressbar type="success" [value]="25"></ngb-progressbar></p> -->
                        <div>
                            <div>
                                <progress-bar [progress]="100" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                51259
                            </div>
                        </div>
                        <div>
                            <div>
                                <progress-bar [progress]="100" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                51259
                            </div>
                        </div>
                        <div>
                            <div>
                                <progress-bar [progress]="100" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                51259
                            </div>
                        </div>
                        <div>
                            <div>
                                <progress-bar [progress]="10" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                450
                            </div>
                        </div>
                    </div>
                    <div class="chart-sec">
                        <!-- <img src="assets/images/chart-2.png" alt="Chart"> -->
                        <div>
                            <div>
                                <progress-bar [progress]="100" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                51259
                            </div>
                        </div>
                        <div>
                            <div>
                                <progress-bar [progress]="100" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                51259
                            </div>
                        </div>
                        <div>
                            <div>
                                <progress-bar [progress]="100" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                51259
                            </div>
                        </div>
                        <div>
                            <div>
                                <progress-bar [progress]="10" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                450
                            </div>
                        </div>
                    </div>
                    <div class="chart-sec">
                        <!-- <img src="assets/images/chart-2.png" alt="Chart"> -->
                        <div>
                            <div>
                                <progress-bar [progress]="100" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                51259
                            </div>
                        </div>
                        <div>
                            <div>
                                <progress-bar [progress]="100" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                51259
                            </div>
                        </div>
                        <div>
                            <div>
                                <progress-bar [progress]="100" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                51259
                            </div>
                        </div>
                        <div>
                            <div>
                                <progress-bar [progress]="10" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                450
                            </div>
                        </div>
                    </div>
                    <div class="chart-sec">
                        <!-- <img src="assets/images/chart-2.png" alt="Chart"> -->
                        <div>
                            <div>
                                <progress-bar [progress]="100" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                51259
                            </div>
                        </div>
                        <div>
                            <div>
                                <progress-bar [progress]="100" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                51259
                            </div>
                        </div>
                        <div>
                            <div>
                                <progress-bar [progress]="100" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                51259
                            </div>
                        </div>
                        <div>
                            <div>
                                <progress-bar [progress]="10" [color]="'#87e9ec'">
                                </progress-bar>
                            </div>
                            <div>
                                450
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sec-left-piechart">
                    <div class="chart-sec">
                        <!-- <img src="assets/images/chart-3.png" alt="Chart">
                        <p>PIE CHART</p> -->
                        <circle-progress [percent]="75" [radius]="38" [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space]="-5" [innerStrokeColor]="'#2C4849'"
                            [outerStrokeColor]="'#87e9ec'" [animation]="true" [animationDuration]="300" [title]="UI" [animateTitle]="true" [showSubtitle]="false" [showTitle] = "true"
                            ></circle-progress>
                    </div>
                    <div class="chart-sec">
                        <!-- <img src="assets/images/chart-3.png" alt="Chart">
                        <p>PIE CHART</p> -->
                        <circle-progress [percent]="75" [radius]="38" [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space]="-5" [innerStrokeColor]="'#2C4849'"
                            [outerStrokeColor]="'#87e9ec'" [animation]="true" [animationDuration]="300" 
                            [showSubtitle]="false"></circle-progress>
                    </div>
                    <div class="chart-sec">
                        <!-- <img src="assets/images/chart-3.png" alt="Chart">
                        <p>PIE CHART</p> -->
                        <circle-progress [percent]="75" [radius]="38" [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space]="-5" [innerStrokeColor]="'#2C4849'"
                            [outerStrokeColor]="'#87e9ec'" [animation]="true" [animationDuration]="300"
                            [showSubtitle]="false"></circle-progress>
                    </div>
                    <div class="chart-sec">
                        <!-- <img src="assets/images/chart-3.png" alt="Chart"> -->
                        <circle-progress [percent]="75" [radius]="38" [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space]="-5" [innerStrokeColor]="'#2C4849'"
                            [outerStrokeColor]="'#87e9ec'" [animation]="true" [animationDuration]="300"
                            [showSubtitle]="false"></circle-progress>
                        <p>GPU</p>
                    </div>
                    <div class="chart-sec">
                        <!-- <img src="assets/images/chart-3.png" alt="Chart"> -->
                        <circle-progress [percent]="75" [radius]="38" [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space]="-5" [innerStrokeColor]="'#2C4849'"
                            [outerStrokeColor]="'#87e9ec'" [animation]="true" [animationDuration]="300"
                            [showSubtitle]="false"></circle-progress>
                        <p>CPU</p>
                    </div>
                    <div class="chart-sec">
                        <!-- <img src="assets/images/chart-3.png" alt="Chart"> -->
                        <circle-progress [percent]="75" [radius]="38" [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space]="-5" [innerStrokeColor]="'#2C4849'"
                            [outerStrokeColor]="'#87e9ec'" [animation]="true" [animationDuration]="300"
                            [showSubtitle]="false"></circle-progress>
                        <p>MEMORY</p>
                    </div>
                </div>
                <div class="sec-left-profile">
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                    <div class="chart-sec">
                        <img src="assets/images/pro-pic.png" alt="Chart">
                        <p>10:15:57
                            <br>10245678</p>
                    </div>
                </div>
            </div>
            <div class="sec-right">
                <div class="sec-right-cont">
                    <ul>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="user-profile-list">
                                <ul>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <img src="assets/images/pro-pic.png" alt="Chart">
                                    </li>
                                    <li>
                                        <p>82.5%</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>