/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


p {
  margin: 0px !important;
}

.dFlex{
  display:flex;
  .flexChild{
    flex:1 1;
  }
  .flexInit{
    flex:initial;
  }
  
}
.dFlex.vCenter{
  align-items: center;
}
.dFlex.hCenter{
  justify-content: center;
}
*:focus{
  outline: none;
}

.progress-outer {
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
}
.progress-inner {
  border-radius: 0 !important;
}
.custom-modalbox {
  .mat-dialog-container {
    background: #931F2C !important;
  }
}