<div class="interceptorCont">
  <div class="interceptIn">
    <div class="boxLeft">
      <div class="gBox">
        <div class="lists">
          <h3>
            <img src="./assets/images/videocamera.png" width="20" /> &nbsp;Task List</h3>
          <div class="taskLists">
            <ul>
              <li>
                <details>
                  <summary>Control Task 1</summary>
                  <div class="dta">
                    <p>Local Video 1</p>
                  </div>
                </details>
              </li>
            </ul>
          </div>
        </div>
        <div class="imgCont">
          <div class="img">
            <img src="./assets/images/banner1.png" class="img-responsive" />
          </div>
          <div class="thumbnailCont">
            <header>
              <ul>
                <li>Hoje:
                  <span>1023</span>
                </li>
                <li>Mes:
                  <span>1023</span>
                </li>
                <li>
                  <a>Mais
                    <img src="./assets/images/doublearrow.png" width="14" />
                  </a>
                </li>
              </ul>
            </header>
            <div class="thumbListBox">
              <div class="lists">
                <div class="box">
                  <a>
                    <img src="./assets/images/thumb.png" />
                  </a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                  <a>
                    <img src="./assets/images/thumb.png" />
                  </a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                  <a>
                    <img src="./assets/images/thumb.png" />
                  </a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                  <a>
                    <img src="./assets/images/thumb.png" />
                  </a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                  <a>
                    <img src="./assets/images/thumb.png" />
                  </a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                  <a>
                    <img src="./assets/images/thumb.png" />
                  </a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                  <a>
                    <img src="./assets/images/thumb.png" />
                  </a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                  <a>
                    <img src="./assets/images/thumb.png" />
                  </a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                  <a>
                    <img src="./assets/images/thumb.png" />
                  </a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                  <a>
                    <img src="./assets/images/thumb.png" />
                  </a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                  <a>
                    <img src="./assets/images/thumb.png" />
                  </a>
                </div>
              </div>
              <div class="lists">
                <div class="box">
                  <a>
                    <img src="./assets/images/thumb.png" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="boxRight">
      <div class="gBox">
        <div class="top-sec">
          <div>
            <img src="assets/images/focus.png">&nbsp;Alvo
          </div>
          <div>
            <header>
              <ul>
                <li>Numero de Alvos:
                  <span>223</span>
                </li>
                <li>
                  <a>Mais
                    <img src="./assets/images/doublearrow.png" width="14" />
                  </a>
                </li>
              </ul>
            </header>
          </div>
        </div>

        <div class="Alvo-sec">
          <div class="top-header">
            <p>04 - 04 - 2019&nbsp;&nbsp;
              <span>16:53</span>
            </p>
            <p>camera-video-
              <span>local1</span>
            </p>
          </div>
          <div class="captured-data">
            <div class="capture-view">
              <div>
                <p>
                  <img src="assets/images/target.png" width="15">capturado
                </p>
              </div>
              <div>
                <img src="assets/images/pic-1.png">
              </div>
              <div class="focus-pic">
                <img src="assets/images/focus.png">
              </div>
              <div>
                <img src="assets/images/pic-2.png">
              </div>
              <div>
                <p>
                  <img src="assets/images/target.png" width="15">Alvo
                </p>
                <p>Joao Avelange</p>
              </div>
            </div>
          </div>
        </div>

        <div class="Alvo-sec">
          <div class="top-header">
            <p>04 - 04 - 2019&nbsp;&nbsp;
              <span>16:53</span>
            </p>
            <p>camera-video-
              <span>local1</span>
            </p>
          </div>
          <div class="captured-data">
            <div class="capture-view">
              <div>
                <p>
                  <img src="assets/images/target.png" width="15">capturado
                </p>
              </div>
              <div>
                <img src="assets/images/pic-3.png">
              </div>
              <div class="focus-pic">
                <img src="assets/images/focus.png">
              </div>
              <div>
                <img src="assets/images/pic-4.png">
              </div>
              <div>
                <p>
                  <img src="assets/images/target.png" width="15">Alvo
                </p>
                <p>Joao Avelange</p>
              </div>
            </div>
          </div>
        </div>

        <div class="Alvo-sec">
          <div class="top-header">
            <p>04 - 04 - 2019&nbsp;&nbsp;
              <span>16:53</span>
            </p>
            <p>camera-video-
              <span>local1</span>
            </p>
          </div>
          <div class="captured-data">
            <div class="capture-view">
              <div>
                <p>
                  <img src="assets/images/target.png" width="15">capturado
                </p>
              </div>
              <div>
                <img src="assets/images/pic-5.png">
              </div>
              <div class="focus-pic">
                <img src="assets/images/focus.png">
              </div>
              <div>
                <img src="assets/images/pic-6.png">
              </div>
              <div>
                <p>
                  <img src="assets/images/target.png" width="15">Alvo
                </p>
                <p>Joao Avelange</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>