<div class="interceptorCont">
  <div class="interceptIn">
    <div class="boxLeft">
      <div class="gBox">
        <div class="lists">
          <h3><img src="./assets/images/videocamera.png" width="20"/> &nbsp;Task List</h3>
          <div class="taskLists">
            <ul>
              <li>
                  <details>
                      <summary>Control Task 1</summary>
                      <div class="dta">
                          <p>Local Video 1</p>
                      </div>
                  </details>
              </li>
            </ul>
          </div>
        </div>
        <div class="imgCont">
          <div class="img">
            <img src="./assets/images/banner1.png" class="img-responsive" />
          </div>
          <div class="thumbnailCont">
            <header>
              <ul>
                <li>Hoje:<span>1023</span> </li>
                <li>Mes:<span>1023</span></li>
                <li><a>Mais <img src="./assets/images/doublearrow.png" width="14"/></a></li>
              </ul>
            </header>
            <div class="thumbListBox">
              <div class="lists">
                <div class="box">
                  <a><img src="./assets/images/thumb.png" /></a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                    <a><img src="./assets/images/thumb.png" /></a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                    <a><img src="./assets/images/thumb.png" /></a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                    <a><img src="./assets/images/thumb.png" /></a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                    <a><img src="./assets/images/thumb.png" /></a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                    <a><img src="./assets/images/thumb.png" /></a>
                </div>
              </div>
              
              <div class="lists">
                <div class="box">
                    <a><img src="./assets/images/thumb.png" /></a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                    <a><img src="./assets/images/thumb.png" /></a>
                </div>
              </div>
              
              <div class="lists">
                <div class="box">
                    <a><img src="./assets/images/thumb.png" /></a>
                </div>
              </div>
              
              <div class="lists">
                <div class="box">
                    <a><img src="./assets/images/thumb.png" /></a>
                </div>
              </div>

              <div class="lists">
                <div class="box">
                    <a><img src="./assets/images/thumb.png" /></a>
                </div>
              </div>
              <div class="lists">
                <div class="box">
                    <a><img src="./assets/images/thumb.png" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="boxRight">
      <div class="gBox">

      </div>
    </div>
  </div>
</div>
